
  ion-avatar {
    width: 100px; 
    height: 100px;
  }
  

  .editar-foto {
    margin-top: 20px;
}
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 20px; 
  }
  @media screen and (min-width: 525px) {

    ion-list{
      margin-left:25%;
      margin-right:30%;
    }
    .buttons {
      margin-left: 30%;
      margin-right: 40%; 
      margin-top: 20px; 
    }
  }
  