<ion-header>
    <ion-toolbar  color ="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src= "../assets/img/el rubius (2).png" alt="Foto de perfil">
        
        <div class="editar-foto">
          <input #fileInput type="file" (change)="handleFileChange($event)" style="display: none" />
          <ion-button (click)="editarFotoPerfil()">Editar foto</ion-button>
        </div>
  
      </ion-avatar>
      <ion-label class="label" color="primary">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" color="tertiary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label" color="primary">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" color="tertiary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label" color="primary">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="correo" color="tertiary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label" color="primary">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" color="tertiary"></ion-input>
    </ion-item>
  </ion-list>

  <div class="buttons">
    <ion-button expand="block" (click)="guardarCambios()">Guardar cambios</ion-button>
    <ion-button expand="block" color="danger" (click)="cancelarEdicion()">Cancelar</ion-button>
    <ion-button expand="block" color="danger" (click)="eliminarUsuario()"><ion-icon name="alert"></ion-icon>ELIMIANR USUARIO<ion-icon name="alert"></ion-icon></ion-button>
  </div>


