<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sistema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

<ion-item>
  <ion-label [routerLink]="['/licencia']"><p>Licencia</p></ion-label>
  </ion-item>
  <ion-item>
    <ion-label [routerLink]="['/creditos']"><p>Creditos</p></ion-label>
    </ion-item>

  </ion-list>
