<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-button (click)="onClick()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-button>
    </ion-buttons>
    <ion-title>Privacidad y Seguridad</ion-title>
  </ion-toolbar>
</ion-header><!--Cabecera-->

<ion-menu></ion-menu>

<ion-content>
  <ion-list lines="full">
<ion-item>

  <p>Permitir creacion de Cuentas Adicionales</p>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item>
  <p>Seguimiento de los Anuncios</p>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item>
  <p>Bloquear Subscripciones de Regalo a canales que No Sigo</p>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item>
  <p>Ocultar Numero de Compras de Subscripciones de Regalo</p>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item>
  <p>Bloquear Susurros de Desconocidos</p>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
</ion-list><!--Funciones de la pagina de privacidad y seguridad.-->
