<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Directrices de la Comunidad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content><!--cabecera-->
        Las Directrices de la comunidad son la base sobre la que trabajamos para garantizar tu seguridad y asegurarnos de que Tekkaps sea un lugar donde todo el mundo puede encontrar su sitio. El propósito principal de estos cambios es hacer que nuestras reglas sean más fáciles de entender, así que en la página actualizada encontrarás mucho más contexto y lenguaje más sencillo. Además, también hemos expandido las directrices para que cubran los casos de estafas financieras y evasión de bloqueos.

Queremos asegurarnos de que todo el mundo pueda expresarse libremente y encontrar en Tekkaps una comunidad, pero nunca a costa de otros. Más adelante encontrarás un resumen de las actualizaciones clave, pero, por favor, asegúrate de leer también las Directrices completas, ya que son las que rigen tu uso de Tekkaps. Los cambios entrarán en vigor el día 27 de marzo de 2023.

A continuación podrás encontrar un resumen de las nuevas directrices sobre estafas financieras y evasión de bloqueos:

Estafas financieras: No uses o intentes utilizar Tekkaps para promocionar, coordinar o ejecutar estafas financieras. Una estafa financiera es cualquier acto intencionalmente engañoso realizado con el propósito de recibir ganancias de forma ilegal, poco ética o deshonesta.
Evasión de bloqueo en la plataforma: No evadas las acciones permanentes que haya impuesto Discord. Esto incluye crear nuevas cuentas o comunidades, o usar otras que ya existan, después de que se te haya bloqueado por ir en contra de las reglas de la plataforma.
Además de estas normas, hemos expandido las políticas que cubren los casos de seguridad infantil y hemos clarificado mejor la sección de objetos peligrosos y regulados. Podrás encontrar dichas actualizaciones aquí.
</ion-card-content><!--directrices de la comunidad.-->
