<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar  color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list> <!--Esto seria la cabecera-->
    <ion-menu-toggle auto-hide="true">
      <ion-item color="secondary" [routerLink]="['tabs/tab1']"><ion-icon name="home"></ion-icon>Inicio</ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="true">
      <ion-item color="secondary" [routerLink]="['/canal']"><ion-icon name="person"></ion-icon>Mi canal</ion-item>
    </ion-menu-toggle>
    <ion-item color="secondary"><ion-icon name="notifications-outline"></ion-icon> Notificaciones</ion-item>
    <ion-item color="secondary"><ion-icon name="language-outline"></ion-icon>Idioma</ion-item>
    <ion-menu-toggle auto-hide="true">
      <ion-item color="secondary" [routerLink]="['/privacidad-seguridad']"><ion-icon name="lock-open-outline"></ion-icon>Privacidad y Seguridad</ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="true">
      <ion-item color="secondary" [routerLink]="['/conexiones']"><ion-icon name="lock-open-outline"></ion-icon>Conexiones</ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="true">
      <ion-item color="secondary" [routerLink]="['/sistema']"><ion-icon name="hardware-chip-outline"></ion-icon>Sistemas</ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item color="secondary" [routerLink]="['/directrices-comunidad']"><ion-icon name="hardware-chip-outline"></ion-icon>Directrices De La Comunidad</ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="true">
      <ion-item color="secondary" [routerLink]="['/ayuda']"><ion-icon name="help"></ion-icon>Ayuda</ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="true">
      <ion-item color="secondary" [routerLink]="['/privacidad']"><ion-icon name="people-outline"></ion-icon>Terminos de Servicios</ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="true">
      <ion-item color="secondary" [routerLink]="['/login']"><ion-icon name="log-out"></ion-icon> Cerrar Sesión</ion-item>
    </ion-menu-toggle> 
  </ion-list><!--El Router link de cada uno irá a la página asignada-->
  <ion-content class="ion-padding"></ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</div>

<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-button (click)="onClick()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-button>
    </ion-buttons>
    <ion-title>Licencia</ion-title>
  </ion-toolbar>
</ion-header><!--Cabecera-->


<ion-content [fullscreen]="true">
  <h1>
    <ion-card>
      <ion-card-content><!--Cabecera-->

TEKKAPPS License <!--Licencia comentada-->

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

</ion-card-content>

