/* tab1.page.scss */

/* Estilo para elementos <b> (texto en negrita) */
b {
  color: #695302;
}

/* Estilo para las tarjetas de vista previa */
.preview-card {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  text-align: justify;
}

/* Estilo para el contenedor con desplazamiento horizontal */
.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Estilo para el título de las tarjetas de vista previa */
.preview-card h5 {
  text-align: center;
}

/* Estilo para el párrafo de las tarjetas de vista previa */
.preview-card p {
  text-align: center;
}

/* Estilo para el título de nivel 3 (h3) */
h3 {
  margin-left: 5%;
}

/* Estilo para las líneas horizontales */
hr {
  background-color: rgb(251, 242, 242);
  margin-left: 3%;
}

/* Estilo para el contenedor de vistas previas */
.preview-container {
  display: flex;
}

/* Estilo para las imágenes de las tarjetas de vista previa */
.preview-card img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5%;
  transition: transform 0.3s ease;
}

/* Estilo para las imágenes de categorías */
.category img{
  width: 200%;
  height: 100%;
  margin-right: 200px;
}

/* Estilo para el efecto de escala y sombra al hacer hover sobre las imágenes */
.preview-card img:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 2px 2px rgba(192, 144, 0, 0.8);
}

/* Estilo para el título de las tarjetas de vista previa */
.preview-card h5 {
  margin-top: 10px;
  font-size: small;
}

/* Estilo para el párrafo de las tarjetas de vista previa */
.preview-card p {
  margin-top: 5px;
  font-size: 14px;
}
.icon_perfil{
  width: 15%!important;
  border-radius: 70%!important;
}

/* Estilos para el modo oscuro (media query para dispositivos con preferencia de color oscuro) */
@media (prefers-color-scheme: dark) {
  /* Estilo para elementos <b> en modo oscuro */
  b {
    color: #FFE277;
    text-align: center;
  }
  
  /* Estilo para las tarjetas de vista previa en modo oscuro */
  .preview-card {
    flex: auto;
    width: 200px;
    margin-right: 10px;
    background-color: #1C1C1C;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos para el texto (h5, p, h3) en modo oscuro */
  h5,p,h3{
    color: rgb(255, 253, 253);
  }
  
  /* Estilo para el contenedor con desplazamiento horizontal en modo oscuro */
  .scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  /* Estilo para el título de las tarjetas de vista previa en modo oscuro */
  .preview-card h5 {
    text-align: left;
    
  }
  
  /* Estilo para el párrafo de las tarjetas de vista previa en modo oscuro */
  .preview-card p {
    text-align: left;
  }
  
  /* Estilo para el título de nivel 3 (h3) en modo oscuro */
  h3 {
    margin-left: 1%;
  }
  
  /* Estilo para las líneas horizontales en modo oscuro */
  hr {
    background-color: rgb(255, 255, 255);
    margin-left: 1%;
  }
  
  /* Estilo para el contenedor de vistas previas en modo oscuro */
  .preview-container {
    display: flex;
  }
  
  /* Estilo para las tarjetas de vista previa en modo oscuro */
  .preview-card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 0px;
    background-color: #1C1C1C;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
  }
  
  /* Estilo para las imágenes de las tarjetas de vista previa en modo oscuro */
  .preview-card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5%;
    transition:all;
  }
  
  /* Estilo para las imágenes de categorías en modo oscuro */
  .category img{
    width: 200%;
    height: 100%;
    }
  
  /* Estilo para el título de las tarjetas de vista previa en modo oscuro */
  .preview-card h5 {
    margin-top: 15px;
  }
  
  /* Estilo para el párrafo de las tarjetas de vista previa en modo oscuro */
  .preview-card p {
    margin-top: 5px;
    font-size: 15px;
  }
}
@media screen and (min-width: 525px){
  .preview-card{
    margin-left: 60px;
  }
  .category img{
    width: 200%;
    height: 100%;
    position: relative;
    margin-left: 260px;
    
  }
  .preview-card h5 {
    margin-right: 300px;
  } 
}