<ion-header [translucent]="true">
  <ion-toolbar color="secondary"><!--con el color, apartir de "theme->variables.scss" se edita todos los colores primarios-->
    <ion-buttons slot="end"><!--con slot se posiciona-->
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      <ion-buttons >
        <ion-button>
          <img src="../../assets/img/logo_tekapps_color.png">
        </ion-button>
      </ion-buttons>
    </ion-title>
    
    <ion-action-sheet trigger="open-action-sheet" header="Actions" ></ion-action-sheet>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="animate__animated animate__backInLeft">Stream en vivo</h3>
  <div class="scroll-container">
    <div class="preview-container">
      <div class="preview-card">
        <img src="../../assets/img/gameplay1.png" alt="Preview del directo">
        <h3>Jugando con los amigos!</h3>
        <p>Valorant</p>
      </div>
      <div class="preview-card">
        <img src="../../assets/img/gameplay1.png" alt="Preview del directo">
        <h3>Jugando con los amigos!</h3>
        <p>Valorant</p>
      </div>
      <div class="preview-card">
        <img src="../../assets/img/gameplay1.png" alt="Preview del directo">
        <h3>Jugando con los amigos!</h3>
        <p>Valorant</p>
      </div>
    </div>
  </div>
  <h3 class="animate__animated animate__backInLeft">Categorias de Juan</h3>
  <div class="scroll-container">
    <div class="preview-container">
      <div class="preview-card">
        <img src="../../assets/img/gameplay1.png" alt="Preview del directo">
        <h3>Charlado</h3>
        <p>639 espectadores</p>
      </div>
      <div class="preview-card">
        <img src="../../assets/img/gameplay1.png" alt="Preview del directo">
        <h3>Charlado</h3>
        <p>639 espectadores</p>
      </div>
      <div class="preview-card">
        <img src="../../assets/img/gameplay1.png" alt="Preview del directo">
        <h3>Charlado</h3>
        <p>639 espectadores</p>
      </div>
    </div>
  </div>
  <h3 class="animate__animated animate__backInLeft">GRUPOS TOP EN VIVO</h3>
  

</ion-content>
<script>
  const directos = [
    {
      imagen: 'directo1.jpg',
      titulo: 'Directo 1',
      descripcion: 'Descripción del directo 1',
    },
    {
      imagen: 'directo2.jpg',
      titulo: 'Directo 2',
      descripcion: 'Descripción del directo 2',
    },
  ];
</script>