<ion-header [translucent]="true">
  <ion-toolbar color="secondary"><!--con el color, apartir de "theme->variables.scss" se edita todos los colores primarios-->
    <ion-buttons slot="end"><!--con slot se posiciona-->
      <ion-button [routerLink]="['/busqueda']">
        <ion-icon name="search" ></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      <ion-buttons >
        <ion-button>
          <img  style="max-width: 70%; height: auto;" src="../../assets/img/logo_tekapps_color.png">
        </ion-button>
      </ion-buttons>
    </ion-title>
    
    <ion-action-sheet trigger="open-action-sheet" header="Actions" ></ion-action-sheet>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <h3 class="animate__animated animate__backInLeft"><b>Stream</b> en vivo</h3><button [routerLink]= "['/en-directo']">Botón de testing</button><hr>
  <div class="scroll-container">
    <div class="preview-container">
      <div [routerLink]= "['/en-directo']" class="preview-card direct">
        <img [src]="'../../assets/img/' + directos[0].imagen" alt="Preview del directo">
        <h5>{{directos[0].titulo}}</h5>
        <p>{{directos[0].descripcion}}</p>
        
      </div>
      <div class="preview-card direct">
        <img [routerLink]= "['/en-directo']" [src]="'../../assets/img/' + directos[1].imagen" alt="Preview del directo">
        <h5>{{directos[1].titulo}}</h5>
        <p>{{directos[1].descripcion}}</p>
      </div>
    </div>
  </div>
  <h3 class="animate__animated animate__backInLeft"><b>Categorías</b> en vivo</h3><hr>
  <div class="scroll-container">
    <div class="preview-container">
      <div class="preview-card  category" [routerLink]="'/busqueda/'+categorias[0].route+'/'">
        <img [src]="'../../assets/img/' + categorias[0].imagen" alt="Preview del directo">
        <h5>{{categorias[0].titulo}}</h5>
        <p>{{categorias[0].espectadores}} espectadores</p>
      </div>
      <div class="preview-card category" [routerLink]="'/busqueda/'+categorias[0].route+'/'">
        <img [src]="'../../assets/img/' + categorias[1].imagen" alt="Preview del directo">
        <h5>{{categorias[1].titulo}}</h5>
        <p>{{categorias[1].espectadores}} espectadores</p>
      </div>
    </div>
  </div>
  <h3 class="animate__animated animate__backInLeft"><b>Grupos</b> en vivo</h3><hr>
  <div class="scroll-container">
    <div class="preview-container">
      <div class="preview-card grupo" [routerLink]="'/busqueda/'+grupos[0].route+'/'">
        <img [src]="'../../assets/img/' + grupos[0].imagen" alt="Preview del directo">
      </div>
      <div class="preview-card grupo" [routerLink]="'/busqueda/'+grupos[1].route+'/'">
        <img [src]="'../../assets/img/' + grupos[1].imagen" alt="Preview del directo">
      </div>
    </div>
  </div>
</ion-content>
