<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header><!--Cabecera-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Formulario de Ayuda</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Formulario de ayuda -->
            <form [formGroup]="ayudaForm">
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" formControlName="nombre" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input formControlName="correo" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Mensaje</ion-label>
                <ion-textarea formControlName="mensaje" required></ion-textarea>
              </ion-item>

              <ion-button expand="full" (click)="enviarMensaje()">Enviar Mensaje</ion-button>
              <a href="https://wa.me/622850518" target="_blank"style="display: block; text-align: center; font-size: 24px;">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a></form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Preguntas Frecuentes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido de preguntas frecuentes -->
            <p>1. ¿Cómo puedo restablecer mi contraseña?</p>
            <p>Para restablecer tu contraseña, ve a la página de inicio de sesión y haz clic en el enlace "¿Olvidaste tu contraseña?". Sigue las instrucciones para restablecer tu contraseña.</p>

            <p>2. ¿Cómo puedo contactar al soporte técnico?</p>
            <p>Puedes contactar a nuestro equipo de soporte técnico enviando un correo electrónico a nilontokiustekapps@gmail.com o llamando al número +34 622 850 518.</p>

            <p>3. ¿Cómo puedo actualizar mi información de perfil?</p>
            <p>Para actualizar tu información de perfil, inicia sesión en tu cuenta y ve a la sección "Perfil". Allí podrás editar tus datos personales, como tu nombre, dirección de correo electrónico, foto de perfil, etc.</p>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
</ion-content>


