<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header><!--Cabecera-->

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title><p>Preguntas Frecuentes<p></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>1. ¿Cómo puedo restablecer mi contraseña?</p>
      <p>Para restablecer tu contraseña, ve a la página de inicio de sesión y haz clic en el enlace "¿Olvidaste tu contraseña?". Sigue las instrucciones para restablecer tu contraseña.</p>

      <p>2. ¿Cómo puedo contactar al soporte técnico?</p>
      <p>Puedes contactar a nuestro equipo de soporte técnico enviando un correo electrónico a nilontokiustekapps@gmail.com o llamando al número +34 622 850 518.</p>

      <p>3. ¿Cómo puedo actualizar mi información de perfil?</p>
      <p>Para actualizar tu información de perfil, inicia sesión en tu cuenta y ve a la sección "Perfil". Allí podrás editar tus datos personales, como tu nombre, dirección de correo electrónico, foto de perfil, etc.</p>
    </ion-card-content>
  </ion-card><!--Ayuda que puede mostrar la pagina de ayuda. Alguno de los problemas que se pueden solucionar a partir de una aexplicación-->
</ion-content>


