<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Privacidad y Seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
<ion-item>
  
  <ion-label>Permitir creacion de Cuentas Adicionales</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Seguimiento de los Anuncios</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Bloquear Subscripciones de Regalo a canales que No Sigo</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Ocultar Numero de Compras de Subscripciones de Regalo</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Bloquear Susurros de Desconocidos</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
</ion-list>