<ion-header [translucent]="true">
  <ion-toolbar color="secondary"><!--con el color, apartir de "theme->variables.scss" se edita todos los colores primarios-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end"><!--con slot se posiciona-->
      <ion-button [routerLink]= "['/busqueda']">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-buttons >
        <ion-button [routerLink]= "['/tabs/tab1']">
          <img  style="max-width: 70%; height: auto;" src="../../assets/img/logo_tekapps_color.png">
        </ion-button>
      </ion-buttons>
    </ion-title>

    <ion-action-sheet trigger="open-action-sheet" header="Actions" ></ion-action-sheet>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="performSearch()" (ionChange)="performSearch()" class="custom-searchbar"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let result of searchResults" [routerLink]="result.isLive ? ['/directos'] : ['/canal']" [queryParams]="{ username: result.name }" class="slide-in-item">
        <ion-thumbnail slot="start">
          <img [src]="result.image" alt="Imagen del canal" [ngClass]="{ 'is-live': result.isLive }" style="border-radius: 60%;">
        </ion-thumbnail>
        <ion-label>
          <h2 [ngClass]="{ 'is-liveText': result.isLive }">{{ result.name }}</h2>
          <p>{{ result.category }}</p>
        </ion-label>
        <img class="imgDirect" *ngIf="result.isLive" src={{result.direct}} alt="Imagen en vivo">
      </ion-item>
    </ion-list>
  </ion-content><!--redirige a la pagina directos-->
