.is-live {
  border: 2px solid yellow;
}
.custom-searchbar {
  --background: #3a3535;
  --border-radius: 10px;
}
 ion-item {
    --padding-start: 16px;
  }
  
  ion-icon {
    --color: #d0ff00;
    --padding-end: 10px;
  }
  
  ion-label {
    font-weight: bold;
  }

 ion-title {
  background-color: rgb(63, 62, 62);
 }
 @keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-item {
  animation: slideInFromTop 0.3s ease-in-out;
}
