<ion-header [translucent]= "true">
  <ion-toolbar>
    <img src= "../assets/img/cabecera.png">
  </ion-toolbar>
</ion-header>
<ion-content><!--Cabecera-->
  <ion-back-button class="back-button" defaultHref="/" color="primary" text="">Back</ion-back-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="namechannel" color="tertiary">{{ nombreCanal }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content-container">
      <div class="image-container" style="border-radius: 65%!important;">
        <img src='{{imagen}}' style="border-radius: 65%;width: 50px; height: 50px;">
    </div>
    <div class="text-container">
      <p>{{ descripcion }}</p>
      <div class="edit-button-container">
      <ion-button class="edit-button" (click)="editarPerfil()" [routerLink]= "['/editarperfil']">Editar Perfil</ion-button>
      </div>
    </div>
    </ion-card-content>
  </ion-card><!--Editar perfil y el nombre del canal, junto a su descripción-->


  <ion-list *ngIf="videos.length > 0">
    <p *ngIf="videos[0].description">Emisiones Recientes:</p>
    <ion-item *ngFor="let video of videos">
      <ion-thumbnail slot="start" class="image-thumbnail">
        <img [src]="video.imagen" alt="Imagen">
      </ion-thumbnail>
      <ion-label>
        <h2 class="titule_video">{{ video.nombre }}</h2>
        <p *ngIf="video.description" class="description_video">{{ video.description }}</p>
        <p class="description_video">{{ video.visitas }}</p>
        <ion-button class="favoritos" (click)="toggleFavorito(video)">
          <ion-icon [name]="esFavorito(video) ? 'star' : 'star-outline'"></ion-icon> Favorito
        </ion-button>
        <!-- Agrega aquí los demás detalles del video -->
      </ion-label>
    </ion-item>
  </ion-list>
  <p *ngIf="videos.length === 0" class="no-videos-message">
    El usuario {{ nombreCanal }} no tiene videos aún.
  </p>
  </ion-content>





