ion-img {
    width: 50px;
    height: auto;
    margin-top: -10px; 
    border-radius: 50%;

  }
  .content-container {
    display: flex;
    align-items: center;
  }
  
  .image-container {
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: -50px;
  }
  
  .text-container {
    flex-grow: 1;
  }

  .image-thumbnail img {
    width: 900px;
    height: auto;}
    
.icon{
  border-radius: 60%;
  width: 50px;
  height: auto;
}
    
.image-thumbnail img {
  width: 50px; 
  height: 50px;
  border-radius: 5%;
}   
.back-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.398);
  border-radius: 10%;
}
.text-container {
  display: flex;
  flex-direction: column;
}

.edit-button {
  font-size: smaller; 
  align-self: flex-end; 
}   
.edit-button-container {
  margin-top: 10px; 
}