ion-img {
    width: 50px;
    height: auto;
    margin-top: -10px; 
    border-radius: 50%;

  }
  .content-container {
    display: flex;
    align-items: center;
  }
  
  .image-container {
    flex-shrink: 0;
    margin-right: 10px;
  }
  
  .text-container {
    flex-grow: 1;
  }

  .image-thumbnail img {
    width: 900px;
    height: auto;}
    
.icon{
  border-radius: 60%;
  width: 50px;
  height: auto;
}
    
.image-thumbnail img {
  width: 50px; 
  height: 50px;
  border-radius: 5%;
}   
    
    
    