<!-- tab1.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="secondary"><!-- Barra de herramientas con color secundario definido en "theme->variables.scss" -->
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end"><!-- Botones en el lado derecho de la barra -->
      <ion-button [routerLink]= "['/busqueda']"><!-- Botón con enlace a la página "/busqueda" -->
        <ion-icon style="color:white!important;" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title><!-- Título de la barra de herramientas -->
      <ion-buttons >
        <ion-button  [routerLink]= "['/tabs/tab1']" ><!-- Botón con enlace a la página "/tabs/tab1" -->
          <img style="max-width: 70%; height: auto;" src="../../assets/img/logo_tekapps_color.png"><!-- Imagen con el logo de la aplicación -->
        </ion-button>
      </ion-buttons>
    </ion-title>

    <ion-action-sheet trigger="open-action-sheet" header="Actions" ></ion-action-sheet><!-- Hoja de acciones (no se muestra el contenido aquí) -->
  </ion-toolbar>
</ion-header>

<ion-header>
    <img src='{{banner}}'>

</ion-header>
<ion-content><!--Cabecera-->
  <ion-card>
    <ion-card-header>
      
      <ion-card-title class="namechannel" color="tertiary">{{ nombreCanal }}</ion-card-title>

    </ion-card-header>
    <ion-card-content class="content-container">
      <div class="image-container" style="border-radius: 65%!important;">
        <img src='{{imagen}}' style="border-radius: 65%;width: 50px; height: 50px;">
    </div>
    <div class="text-container">
      <p>{{ descripcion }}</p>
      <p>{{ subs }} Subs</p>
      <div class="edit-button-container" *ngIf="nombreCanal === usuarioExistente">
      <ion-button class="edit-button" (click)="editarPerfil()" [routerLink]= "['/editarperfil']">Editar Perfil</ion-button>
      </div>
      <div class="edit-button-container" *ngIf="nombreCanal !== usuarioExistente">
        <ion-button (click)="alternarSuscripcion()" class="sub">
          <ion-icon [name]="suscrito ? 'heart' : 'heart-outline'"></ion-icon>
          {{ suscrito ? 'Suscrito' : 'Subscribirme' }}
        </ion-button>
        <ion-button *ngIf="suscrito" (click)="alternarNotificaciones()" class="not">
          <ion-icon [name]="notificaciones ? 'notifications' : 'notifications-outline'"></ion-icon>
        </ion-button>
      </div>
      
    </div>
    </ion-card-content>
  </ion-card><!--Editar perfil y el nombre del canal, junto a su descripción-->
  <div *ngIf="isLive" class="live-indicator" [routerLink]= "['/directos']" [queryParams]="{ username: nombreCanal }" >
    <img [src]="direct" alt="Directo en vivo"><br>
    <p>{{directName}}<br>{{category}} | <ion-icon name="person-circle-outline"></ion-icon>{{users}}</p>
  </div><hr>
  

  <ion-list *ngIf="videos.length > 0">
    <p *ngIf="videos[0].description">Emisiones Recientes:</p>
    <ion-item *ngFor="let video of videos">
      <ion-thumbnail slot="start" class="image-thumbnail">
        <img [src]="video.imagen" alt="Imagen">
      </ion-thumbnail>
      <ion-label>
        <h2 class="titule_video">{{ video.nombre }}</h2>
        <p *ngIf="video.description" class="description_video">{{ video.description }}</p>
        <p class="description_video">{{ video.visitas }}</p>
        <ion-button class="favoritos" (click)="toggleFavorito(video)">
          <ion-icon [name]="esFavorito(video) ? 'star' : 'star-outline'"></ion-icon> Favorito
        </ion-button>
        <!-- Agrega aquí los demás detalles del video -->
      </ion-label>
    </ion-item>
  </ion-list>
  <p *ngIf="videos.length === 0" class="no-videos-message">
    El usuario {{ nombreCanal }} no tiene videos aún.
  </p>
  </ion-content>





