ion-img {
    width: 50px;
    height: auto;
    margin-top: -10px; 
  }
  .content-container {
    display: flex;
    align-items: center;
  }
  
  .image-container {
    flex-shrink: 0;
    margin-right: 10px;
  }
  
  .text-container {
    flex-grow: 1;
  }

  .image-thumbnail img {
    width: 900px;
    height: auto;}

 ion-card-title{
  color: white;
 }   

 div{
color: white;
 }

 ion-item{
  color:white;
 }