<ion-header [translucent]= "true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class=".back-button-container "></ion-back-button>
    </ion-buttons>
    <img src= "../assets/img/cabecera.png">
  </ion-toolbar>
</ion-header>
<ion-content><!--Cabecera-->
   
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ nombreCanal }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content-container">
      <div class="image-container">
      <ion-img [src]="imagen" alt="Imagen del canal"  class="rounded-image"></ion-img>
    </div>
    <div class="text-container">
      <p>{{ descripcion }}</p>
      <div class="edit-button-container">
      <ion-button class="edit-button" (click)="editarPerfil()" [routerLink]= "['/editarperfil']">Editar Perfil</ion-button>
      </div>
    </div>
    </ion-card-content>
  </ion-card><!--Editar perfil y el nombre del canal, junto a su descripción-->

  <ion-list>
    <ion-item *ngFor="let image of images">
      <ion-thumbnail slot="start" class="image-thumbnail" >      
      <img [src]="image.imageUrl" alt="Imagen">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ image.title }}</h2>
        <p>{{ image.description }}</p>
        <ion-button class="favoritos" (click)="favoritos()" [routerLink]= "['/favoritos']"><ion-icon [name]="favorito ? 'star' : 'star-outline'"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
  </ion-list><!--Imagenes de los videos-->
  </ion-content>





