<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Creditos</ion-title>
  </ion-toolbar>
</ion-header><!--cabecera de la pagina creditos-->

<ion-content [fullscreen]="true">
  <h1>
    <ion-card>
      <ion-card-content>

        Este proyecto ha sido desarrollado con pasión y dedicación por el equipo de Tekapps. Nos enorgullece presentar esta aplicación que busca ofrecer una experiencia única y enriquecedora para nuestros usuarios. Agradecemos sinceramente a todas las personas que han contribuido y apoyado en la creación de esta aplicación.
<br><br>
        Equipo de Desarrollo:
        <br>
            Manel Castellví Cerezuela - Líder de Proyecto y Desarrollador Backend
            Alex y Eduardo - Desarrollador Frontend
            Jesus Arraras - Documentación
        <br>
        Recursos y Agradecimientos:
        
            Ionic Icons - Iconos utilizados bajo licencia Creative Commons
            Google Fonts - Fuentes tipográficas proporcionadas
        <br><br>
        Agradecemos a nuestros usuarios por su continuo apoyo y retroalimentación, lo que nos ha ayudado a mejorar y hacer crecer esta aplicación. También agradecemos a la comunidad de desarrolladores de Ionic y a la comunidad de código abierto por proporcionar herramientas y recursos esenciales para la creación de este proyecto.
        <br>
        <br>
        © 2023 Tekapps. Todos los derechos reservados.

</ion-card-content><!--Creditos en si.-->