<ion-header [translucent]="true">
  <ion-toolbar color="secondary"><!--con el color, apartir de "theme->variables.scss" se edita todos los colores primarios-->
    <ion-buttons slot="end"><!--con slot se posiciona-->
      <ion-button [routerLink]="['/busqueda']">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      <ion-buttons >
        <ion-button [routerLink]= "['/tabs/tab1']">
          <img style="max-width: 70%; height: auto;" src="../../assets/img/logo_tekapps_color.png">
        </ion-button>
      </ion-buttons>
    </ion-title>
  
    <ion-action-sheet trigger="open-action-sheet" header="Actions" ></ion-action-sheet>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<h3 class="animate__animated animate__backInLeft"><b>Directos</b> Destacados </h3><hr>
  <div class="scroll-container">
    <div class="preview-container">
      <div class="preview-card direct" [routerLink]="'canal/'+directos[1].route+'/'">
        <img [src]="'../../assets/img/' + directos[1].imagen" alt="Preview del directo">
        <h5>Genshin Impact</h5>
        <p>Jugando un Rato a este RPG tan Popular</p>
      </div>
    </div>
  </div>
  <h3 class="animate__animated animate__backInLeft"><b>Categorías</b> Destacadas</h3><hr>
  <div class="scroll-container">
    <div class="preview-container">
      <div class="preview-card  category" [routerLink]="'/busqueda/'+categorias[0].route+'/'">
        <img [src]="'../../assets/img/' + categorias[0].imagen" alt="Preview del directo">
        <h5>De Charla con Amigos</h5>
        <p>250.000 Espectadores</p>
      </div>
      <div class="preview-card category" [routerLink]="'/busqueda/'+categorias[0].route+'/'">
        <img [src]="'../../assets/img/' + categorias[1].imagen" alt="Preview del directo">
        <h5>{{categorias[1].titulo}}</h5>
        <p>{{categorias[1].espectadores}} espectadores</p>
      </div>
    </div>
  </div>
</ion-content>