<ion-header [translucent]="true">
  <ion-toolbar color="secondary"><!--con el color, apartir de "theme->variables.scss" se edita todos los colores primarios-->
    <ion-buttons slot="end"><!--con slot se posiciona-->
      <ion-button [routerLink]="['/busqueda']">
        <ion-icon  style="color:white!important;" name="search"></ion-icon>
      </ion-button>
      <ion-button  style="color:white!important;" class="profile" [routerLink]= "['/tabs/tab3']">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-buttons >
        <ion-button [routerLink]= "['/tabs/tab1']">
          <img style="max-width: 70%; height: auto;" src="../../assets/img/logo_tekapps_color.png">
        </ion-button>
      </ion-buttons>
    </ion-title><!--Cabecera de la pagina-->
  </ion-toolbar>
</ion-header>
<div class="left-menu"></div>
<ion-content [fullscreen]="true">

    <!-- Sección de "Videos" -->
  <h3 class="animate__animated animate__backInLeft"><b>Videos</b> increíbles</h3>
  <hr><!-- Título con efecto de animación -->
  <div class="scroll-container"><!-- Contenedor con desplazamiento horizontal -->
    <div class="preview-container"><!-- Contenedor de vistas previas -->
      <div *ngFor="let usuarioVideos of videosJson" class="preview-card category" [routerLink]="'/directos/'" [queryParams]="{ titulo: usuarioVideos.videoMasVisitado.nombre}">
        <!-- Vista previa de video para cada usuario -->
        <div>
          <img [src]="usuarioVideos.videoMasVisitado.imagen" alt="{{ usuarioVideos.videoMasVisitado.nombre }}">
          <h5>{{ usuarioVideos.videoMasVisitado.nombre }}</h5><!-- Título del video más visitado -->
          <p>{{ usuarioVideos.usuario }}</p><!-- Usuario del video -->
          <p>Visitas: {{ usuarioVideos.videoMasVisitado.visitas }}</p><!-- Cantidad de visitas del video más visitado -->
        </div>
      </div>
    </div>
  </div>

    <!-- Sección de "Categorias en vivo" -->
<h3 class="animate__animated animate__backInLeft"><b>Categorias</b> en vivo</h3><hr><!-- Título con efecto de animación -->
<div class="scroll-container"><!-- Contenedor con desplazamiento horizontal -->
  <div class="preview-container"><!-- Contenedor de vistas previas -->
    <div *ngFor="let categoriaJson of categoriasOrdenadas" class="preview-card category" [routerLink]="'/busqueda/'" [queryParams]="{ titulo: categoriaJson.categoria}"><!-- Vista previa de categoría con enlace a "/busqueda/" y parámetro de consulta "titulo" -->
      <img [src]="'../assets/img/categories/'+categoriaJson.categoria+'.jpg'" alt="{{categoriaJson.categoria}}"><!-- Imagen de la categoría -->
      <h5>{{categoriaJson.categoria}}</h5><!-- Título de la categoría -->
      <p>Directos actualmente: {{categoriaJson.conteo }}</p><!-- Número de espectadores de la categoría -->
    </div>
  </div>
</div>
  <!-- Sección de "Stream en vivo" -->
  <h3 class="animate__animated animate__backInLeft"><b>Stream</b> en vivo</h3><hr><!-- Título con efecto de animación -->
  <div class="scroll-container">
    <div class="preview-container">
      <div *ngFor="let directoJson of directosJson" class="preview-card direct"><!-- Vista previa de directo con enlace a "/directos" -->
        <img [routerLink]= "['/directos']" [queryParams]="{ username: directoJson.name }" [src]=directoJson.direct alt="{{directoJson.directName}}">
        <h5 [routerLink]= "['/directos']" [queryParams]="{ username: directoJson.name }">{{directoJson.directName}}</h5>
        <p [routerLink]="'/busqueda/'" [queryParams]="{ titulo: directoJson.category}">{{directoJson.category}}</p>
        <p [routerLink]= "['/canal']" [queryParams]="{ username: directoJson.name }"><img [src]=directoJson.image  alt="Icon perfil" class="icon_perfil"> {{directoJson.name}}</p>
      </div>
    </div>
  </div>



<!--
  ------------------------------FIREBASE USERS-------------------------------
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div>
      <label>Name</label>
      <input type="text" formControlName="name">
  </div>
  <div>
      <label>Image</label>
      <textarea formControlName="image"></textarea>
  </div>
  <div>
      <label>Directo</label>
      <input type="text" formControlName="isLive">
  </div>
  <input type="submit" value="Enviar">
</form>
<div class="places">
  <div class="place" *ngFor="let user of users">
      <div class="image" [ngStyle]="{ backgroundImage: 'url('+user.image+')' }"></div>
      <div class="info">
          <h4>{{user.name}}</h4>
          <button class="btn btn-outline-danger" (click)="onClickDelete(user)">Borrar</button>
      </div>
  </div>
</div>-->
</ion-content>