<ion-header [translucent]="true">
  <ion-toolbar color="secondary"><!--con el color, apartir de "theme->variables.scss" se edita todos los colores primarios-->
    <ion-buttons slot="end"><!--con slot se posiciona-->
      <ion-button [routerLink]="['/busqueda']">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      <ion-buttons >
        <ion-button [routerLink]= "['/tabs/tab1']">
          <img style="max-width: 70%; height: auto;" src="../../assets/img/logo_tekapps_color.png">
        </ion-button>
      </ion-buttons>
    </ion-title><!--Cabecera de la pagina-->
  
    <ion-action-sheet trigger="open-action-sheet" header="Actions" ></ion-action-sheet>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- Sección de "Stream en vivo" -->
  <h3 class="animate__animated animate__backInLeft"><b>Stream</b> en vivo</h3><hr><!-- Título con efecto de animación -->
  <div class="scroll-container">
    <div class="preview-container">
      <div *ngFor="let directoJson of directosJson" [routerLink]= "['/directos']" class="preview-card direct"><!-- Vista previa de directo con enlace a "/directos" -->
        <img [src]=directoJson.direct alt="{{directoJson.directName}}">
        <h5>{{directoJson.directName}}</h5>
        <p>{{directoJson.category}}</p>
        <p><img [src]=directoJson.image  alt="Icon perfil" class="icon_perfil"> {{directoJson.name}}</p>
        
      </div>
    </div>
  </div>

  <!-- Sección de "Test en vivo" -->
<h3 class="animate__animated animate__backInLeft"><b>Categorias</b> en vivo</h3><hr><!-- Título con efecto de animación -->
<div class="scroll-container"><!-- Contenedor con desplazamiento horizontal -->
  <div class="preview-container"><!-- Contenedor de vistas previas -->
    <div *ngFor="let categoriaJson of categoriasOrdenadas" class="preview-card category" [routerLink]="'/busqueda/'" [queryParams]="{ titulo: categoriaJson.categoria}"><!-- Vista previa de categoría con enlace a "/busqueda/" y parámetro de consulta "titulo" -->
      <img [src]="'../assets/img/'+categoriaJson.categoria+'.jpg'" alt="{{categoriaJson.categoria}}"><!-- Imagen de la categoría -->
      <h5>{{categoriaJson.categoria}}</h5><!-- Título de la categoría -->
      <p>Directos actualmente: {{categoriaJson.conteo }}</p><!-- Número de espectadores de la categoría -->
    </div>
  </div>
</div>
<h3 class="animate__animated animate__backInLeft"><b>Videos</b> increíbles</h3>
<hr><!-- Título con efecto de animación -->
<div class="scroll-container"><!-- Contenedor con desplazamiento horizontal -->
  <div class="preview-container"><!-- Contenedor de vistas previas -->
    <div *ngFor="let usuarioVideos of videosJson" class="preview-card category">
      <!-- Vista previa de video para cada usuario -->
      <div>
        <img [src]="usuarioVideos.videoMasVisitado.imagen" alt="{{ usuarioVideos.videoMasVisitado.nombre }}">
        <h5>{{ usuarioVideos.videoMasVisitado.nombre }}</h5><!-- Título del video más visitado -->
        <p>{{ usuarioVideos.usuario }}</p><!-- Usuario del video -->
        <p>Visitas: {{ usuarioVideos.videoMasVisitado.visitas }}</p><!-- Cantidad de visitas del video más visitado -->
      </div>
    </div>
  </div>
</div>
</ion-content>