.left-menu{
  display: none;
}
b {
    color: #695302;
  }
  .preview-card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;// Css de la primera card. 
  }
  .scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;//Css del segundo directo.
    
    &::-webkit-scrollbar {
      display: none;//Css del scrollbar.
    }
  }
  .preview-card h5 {
    text-align: left;//Alineación del texto de la card h5.
  }
  .preview-card p {
    text-align: left;//Alineación del texto de la card p
  }
  h3 {
    margin-left: 5%;//Margen del h3

  }

  h4{
    color: #ffffff;//Color del h4.
  }
  
  hr {
    background-color: rgb(0, 0, 0);
    margin-left: 3%;//Color del hr.
  }
  
  .preview-container {
    display: flex;//Display, del primer contenedor.
  }
  
  .preview-card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;//CSS de la primera card más completo
  }
  
  .preview-card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5%;
    transition: transform 0.3s ease;// Css de la imagen del HTML
  }
  .category img{
    width: 200%;
    height: 100%;//Altura y ancho de la Imagen.
  }
  
  .preview-card img:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 2px 2px rgba(192, 144, 0, 0.8);// Sombra de la imagen.
  }
  
  .preview-card h5 {
    margin-top: 10px;
    font-size: medium;
  }
  
  .preview-card p {
    margin-top: 5px;
    font-size:smaller//Margen y fuente de la card p.
  }
  .icon_perfil{
    width: 15%!important;
    border-radius: 70%!important;
  }
  
  @media (prefers-color-scheme: dark) {
    
    b {
      color: #FFE277;
    }
    .preview-card {
      flex: 0 0 auto;
      width: 200px;
      margin-right: 10px;
      background-color: #1C1C1C;
      border-radius: 5px;
      padding: 10px;
      text-align: center;//Css cuando los colores son oscuros.
    }
    h5,p,h3{
      color: white;//Color de las letras.
    }
    .scroll-container {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;//Css del Scroll Container
      
      &::-webkit-scrollbar {
        display: none;// Css del scrollbar.
      }
    }
    .preview-card h5 {
      text-align: left;//Tema del texto del h5.
    }
    .preview-card p {
      text-align: left;//Tema del texto de la preview card.
    }
    h3 {
      margin-left: 5%;//Margen del h3.
    }
    
    hr {
      background-color: rgb(255, 255, 255);
      margin-left: 3%;//Margen y color del hr.
    }
    
    .preview-container {
      display: flex;//Display del preview Container.
    }
    
    .preview-card {
      flex: 0 0 auto;
      width: 200px;
      margin-right: 10px;
      background-color: #1C1C1C;
      border-radius: 5px;
      padding: 10px;
      text-align: center;//Css modo oscuro de preview card.
    }
    
    .preview-card img {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
      border-radius: 5%;
      transition: transform 0.3s ease;//Tamaños de la imagen 2.
    }
    .category img{
      width: 200%;
      height: 100%;//Altura y anchura de la 2nda imagen.
    }
    
  
    
    .preview-card h5 {
      margin-top: 10px;//Margen de la card h5
    }
    
    .preview-card p {
      margin-top: 5px;
      font-size: 14px;//Margen de la card p.
    }
  }
.profile{
  display: none;
}
@media screen and (min-width: 525px) {
  .profile{
    display: flex !important;
  }
  .left-menu{
    display: flex;
    background-color: red!important;
    width: 50px;
    height: 100px;    
  }
}