<ion-header>
  <ion-toolbar color="secondary"><!--con el color, apartir de "theme->variables.scss" se edita todos los colores primarios-->
    <ion-title>
      <ion-buttons >
        <ion-button>
          <img src="../../assets/img/logo_tekapps_color.png">
        </ion-button>
      </ion-buttons>
    </ion-title>
    <ion-action-sheet trigger="open-action-sheet" header="Actions" ></ion-action-sheet>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<ion-card-header>
  <ion-card-title color="primary"><b>Registro</b></ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <form [formGroup]= "formularioRegister" (keyup.enter)= "guardar()">
  <ion-item>
    <ion-label position ="floating" color="primary">Nombre</ion-label>
    <ion-input formControlName ="nombre" color="primary"></ion-input>
</ion-item>
<ion-item>
<ion-label position ="floating" color="primary">Contraseña</ion-label>
<ion-input formControlName ="password" type="password" color="primary"></ion-input>
</ion-item>
<ion-item>
<ion-label position ="floating" color="primary">Numero de Telefono</ion-label>
<ion-input formControlName ="NumeroDeTelefono" color="primary"></ion-input>
</ion-item>
<ion-item>
  <ion-label position ="floating" color="primary">Fecha de Nacimiento</ion-label>
  <ion-input displayFormat="DD/MM/YYYY" formControlName ="FechaDeNacimiento" color="primary"></ion-input>
  </ion-item>
  <br>
  <ion-buttons>
    <ion-button [routerLink] ="['/login']" clas="link">Ya tienes cuenta? Logueate</ion-button>
  </ion-buttons>
  <br>
  <ion-button [routerLink] ="['/tabs/tab1']">Registrarse</ion-button>

</form>


</ion-card-content>
</ion-card>
</ion-content>
