<ion-header [translucent]="true">
    <ion-toolbar color="secondary"><!--con el color, apartir de "theme->variables.scss" se edita todos los colores primarios-->
      <ion-buttons slot="end"><!--con slot se posiciona-->
        <ion-button>
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>
        <ion-buttons >
          <ion-button>
            <img src="../../assets/img/logo_tekapps_color.png">
          </ion-button>
        </ion-buttons>
      </ion-title>

      <ion-action-sheet trigger="open-action-sheet" header="Actions" ></ion-action-sheet>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>




<ion-content>
  <ion-list lines="full">

    <ion-item>
      <ion-label [routerLink]="['/mi-canal']">Mi Canal</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select interface="action-sheet">
        <ion-select-option value="en">Inglés</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="fr">Francés</ion-select-option>
        <ion-select-option value="jp">Japonés</ion-select-option>
        <ion-select-option value="ger">Alemán</ion-select-option>
        <ion-select-option value="It">Italiano</ion-select-option>
        <ion-select-option value="cat">Catalán</ion-select-option>
        <ion-select-option value="Ch">Chino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Privacidad y Seguridad</ion-label>
      <ion-select interface="action-sheet">
        <ion-select-option value="en">Contacto</ion-select-option>
        <ion-select-option value="es">Contraseña</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Preferencias</ion-label>
        <ion-select interface="action-sheet">
          <ion-select-option value="en">Sonido emergente</ion-select-option>
          <ion-select-option value="es">Reproductor de Fondo</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
        <ion-label>Recomendaciones</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Conexiones</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sistema</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Directrices De La Comunidad</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ayuda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label [routerLink]="['/privacidad']">Terminos de Servicios</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>

  </ion-list>



