<ion-header>
    <ion-toolbar  color ="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src= "../assets/img/el rubius (2).png" alt="Foto de perfil">
        
  <div class="editar-foto">
    <ion-button (click)="editarFotoPerfil()">Editar foto</ion-button>
  </div>
  
      </ion-avatar>
      <ion-label class="label">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena"></ion-input>
    </ion-item>
  </ion-list>

  <div class="buttons">
    <ion-button expand="block" (click)="guardarCambios()">Guardar cambios</ion-button>
    <ion-button expand="block" color="danger" (click)="cancelarEdicion()">Cancelar</ion-button>
  </div>

  <div class="editar-foto">
    <ion-button (click)="editarFotoPerfil()">Editar foto</ion-button>
  </div>
</ion-content>
