<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Conexiones</ion-title>
  </ion-toolbar>
</ion-header><!--Cabecera-->

<ion-content>

  <ion-list lines="full">

<ion-item>
    <ion-label><p><ion-icon name="logo-amazon"></ion-icon> Amazon</p></ion-label>
    <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
    <ion-label><p><ion-icon name="logo-google"></ion-icon> Google</p></ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<!--Los dos tipos de conexiones, que son Google y Amazon.-->