<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Politica de Privacidad</ion-title>
  </ion-toolbar>
</ion-header><!--Cabecera-->

<ion-content [fullscreen]="true">
<h1>
  <ion-card>
    <ion-card-content>
      Política de Privacidad de Tekapps Live

      Fecha de entrada en vigencia: 1 de agosto de 2023
      
      En Tekapps Live, una empresa propiedad de Tekapps, nos tomamos en serio la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos, compartimos y protegemos la información personal del usuario cuando interactúa con nuestra aplicación web de streaming llamada Tekapps Live (en adelante, "Servicio"). Al utilizar el Servicio, el usuario acepta las prácticas descritas en esta Política de Privacidad. Lea detenidamente esta política antes de continuar utilizando nuestra plataforma.
      
      I. Información del Titular de los Datos y Contacto
      
      Tekapps Live
      Domicilio Social: [Incluir la dirección de la empresa]
      Correo electrónico: [Incluir dirección de correo electrónico de contacto]
      Número de registro de la empresa: [Incluir número de registro de la empresa]
      
      II. Alcance de esta Política de Privacidad
      
      Esta Política de Privacidad es aplicable a toda la información personal recopilada o recibida a través de nuestro Servicio y se extiende a todos los usuarios, clientes y visitantes de nuestra plataforma.
      
      III. Información que Recopilamos o Recibimos
      
      A continuación, se describen las categorías de información personal que recopilamos o recibimos sobre los usuarios, así como los fines para los cuales se utiliza esta información:
      
          Información proporcionada por el usuario:
      
      a. Creación de Cuenta: Al registrarse en nuestro Servicio, solicitamos cierta información personal, que puede incluir nombre, dirección de correo electrónico, país de residencia, número de teléfono, fecha de nacimiento y preferencias de idioma. Esta información se utiliza para crear y gestionar su cuenta y para proporcionarle una experiencia personalizada en nuestro Servicio.
      
      b. Procesos de Compra: Si realiza compras a través de nuestra plataforma, recopilamos información de facturación adicional, como los detalles de su tarjeta de crédito u otra forma de pago, para procesar el pago y cumplir con la compra.
      
      c. Asistencia Técnica: Cuando se comunica con nuestro equipo de asistencia técnica, podemos recopilar información de contacto e información relacionada con el problema para brindarle la asistencia necesaria.
      
      d. Participación en Encuestas y Concursos: Si decide participar en encuestas, concursos o promociones, podemos recopilar su nombre, dirección de correo electrónico y otras informaciones necesarias para administrar dichas actividades.
      
          Recopilación Automática de Información:
      
      a. Dispositivos y Aplicaciones: Al utilizar nuestro Servicio a través de dispositivos o aplicaciones, podemos recopilar automáticamente información sobre su uso, como identificadores de dispositivo, direcciones IP, información de autenticación, ubicaciones, actividades de juego y configuración de dispositivos.
      
      b. Cookies y Tecnologías Similares: Utilizamos cookies y tecnologías similares para recopilar información sobre su interacción con nuestro Servicio y mejorar su experiencia de usuario. Puede configurar su navegador para rechazar cookies, pero esto puede afectar la funcionalidad del Servicio.
      
      IV. Uso de la Información Personal
      
      La información personal recopilada se utiliza para los siguientes fines:
      
          Proporcionar y Gestionar el Servicio: Utilizamos la información personal para crear y mantener su cuenta, procesar transacciones, proporcionar asistencia técnica y brindarle la experiencia de streaming en línea.
      
          Mejorar el Servicio: Utilizamos la información para mejorar nuestro Servicio, desarrollar nuevas características y optimizar el rendimiento de la plataforma.
      
          Comunicaciones y Marketing: Podemos utilizar su información personal para enviarle comunicaciones relacionadas con su cuenta, actualizaciones de servicios, anuncios y ofertas promocionales. Usted tiene el derecho de optar por no recibir comunicaciones de marketing en cualquier momento.
      
          Investigación y Análisis: Utilizamos información agregada y anónima para realizar análisis y estudios de mercado con el objetivo de mejorar nuestros servicios y comprender mejor las necesidades de nuestros usuarios.
      
      V. Compartir la Información Personal
      
      Tekapps Live se compromete a no vender ni alquilar su información personal a terceros. Sin embargo, podemos compartir cierta información con terceros en las siguientes circunstancias:
      
          Proveedores de Servicios: Podemos compartir su información personal con proveedores de servicios externos que nos ayuden a proporcionar el Servicio y llevar a cabo actividades relacionadas, como procesamiento de pagos, análisis de datos y asistencia técnica.
      
          Cumplimiento Legal: En algunos casos, podemos divulgar información personal para cumplir con obligaciones legales, responder a solicitudes legales, proteger nuestros derechos legales o defender contra reclamos legales.
      
      VI. Almacenamiento y Retención de Datos
      
      Tekapps Live almacenará su información personal durante el tiempo que sea necesario para cumplir con los fines establecidos en esta Política de Privacidad, a menos que la ley exija o permita un período de retención más prolongado.
      
      VII. Derechos de los Titulares de Datos
      
      El usuario tiene ciertos derechos en relación con sus datos personales, incluidos los derechos de acceso, rectificación, supresión, limitación y portabilidad de los datos. También puede ejercer su derecho a oponerse al procesamiento de sus datos personales para fines de marketing directo.
      
      VIII. Seguridad de los Datos Personales
      
      Tekapps Live se compromete a proteger la seguridad de la información personal del usuario y ha implementado medidas técnicas y organizativas adecuadas para proteger sus datos contra el acceso no autorizado, la pérdida y el uso indebido.
      
      IX. Cambios en la Política de Privacidad
      
      Tekapps Live puede actualizar esta Política de Privacidad ocasionalmente para reflejar cambios en nuestras prácticas de recopilación y uso de información. Se le notificará sobre cambios significativos y, si es necesario, se obtendrá su consentimiento.
      
      X. Aceptación de esta Política de Privacidad
      
      Al utilizar nuestro Servicio, usted acepta los términos de esta Política de Privacidad. Si no está de acuerdo con esta Política, absténgase de utilizar nuestro Servicio.
      
      Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, no dude en ponerse en contacto con nosotros a través de la dirección de correo electrónico proporcionada anteriormente. Estamos comprometidos a proteger su privacidad y a garantizar una experiencia segura en nuestra plataforma de streaming, Tekapps Live.
 
 
    </ion-card-content>  
</ion-card>
</h1>
</ion-content>