<ion-content>
  <ion-toolbar class="toolbar-with-image" collapse="condense">
    <ion-buttons slot="start" class="back-button-container" [class.show]="showBackButton" (click)="toggleBackButton()">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons class="pause-button-container" [class.show]="showBackButton" (click)="toggleBackButton()">
      <ion-button><ion-icon name="pause-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-action-sheet trigger="open-action-sheet" header="Actions"></ion-action-sheet>
    <div class="image-container" (click)="showBackButton = true" (mouseleave)="hideBackButton()">
      <img src="../assets/img/imagen directo.jpg">
    </div>
  </ion-toolbar>
  <div class="perfil-canal">
    <div class="imagen-y-contenido">
      <img class="imagen-pequena" src="../assets/img/Pokemon.png" alt="" style="border-radius: 60%;">
      <div class="titulos">
        <h2 class="nombre-canal">{{ nombreCanal }}</h2>
        <h3 class="descripcion">{{ descripcion }}</h3>
      </div>
    </div>
  </div>


    <ion-button (click)="alternarSuscripcion()">
  <ion-icon [name]="suscrito ? 'heart' : 'heart-outline'"></ion-icon>
  {{ suscrito ? 'Suscrito' : 'Subscribirme' }}
</ion-button>
<ion-button *ngIf="suscrito" (click)="alternarNotificaciones()">
  <ion-icon [name]="notificaciones ? 'notifications' : 'notifications-outline'"></ion-icon>
</ion-button>
  <div class="message-container">
    <ion-list lines="none" class="message-list">
      <ion-item *ngFor="let mensaje of mensajes">
        <div [class.mensaje-propio]="mensaje.propio" [class.mensaje-externo]="!mensaje.propio">
          {{ mensaje.texto }}
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-input placeholder="Escribe un mensaje" [(ngModel)]="nuevoMensaje"></ion-input>
      <ion-button expand="block" (click)="enviarMensaje()">Enviar</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>

