.sub{
  margin-left:10%;//margen del segundo titulo
}
.not{
  margin-left:10%// Margen izquierdo
}
.preview-card {
  height: 200px; /* Altura deseada de la preview-card */
  width: 600px; /* Anchura de la primera card (puedes ajustarla según tus necesidades) */
  overflow-x: hidden; /* Oculta el scroll horizontal */
  overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}
.back-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.398);
  border-radius: 10%;// Funcionalidad del css del boton de back
}

.back-button-container.show {
  opacity: 1;//Opacidad del boton back.
}

.pause-button-container {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.398);
  border-radius: 10%;//css del boton Pause
}

.pause-button-container.show {
  opacity: 1;//Opacidad del boton pause.
}

.image-container {
  position: relative;//Posicion de la imagen.
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;//Ancho y alto de la del container de la imagen.
}
.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 0;// Informacion del css de la imagen del contenedor.
}

.full-width-image {
  max-width: 100%;
  height: auto;// Altura y ancho de la imagen.
}
ion-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin: 0;
  padding: 0;// css del de la cabecera.
  }
  ion-footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;//Css del pie de la imagen.
  }
  ion-content {
    --padding-top: 0;
    --margin-top: 0;
    margin: 0;
    padding: 0;// Css del contenido de la pagina.

    .toolbar-with-image {
      padding-top: 0;
      margin: 0;
      padding: 0;// Css de la imagen.
    }
    .full-width-image {
      object-fit: cover;
      margin: 0;
      padding: 0;//Otro css de la imagen.
    }
  }
  .perfil-canal {
    display: flex;
    align-items: center;
    margin-bottom: 10px;//Css del perfil y el canal.
  }

  .imagen-pequena {
    width: 50px;
    height: auto;
    margin-right: 10px;// css de la imagen pequeña del canal.
  }
  
  .imagen-y-contenido {
    display: flex;
    align-items: center;
    margin-left: 20px;// Css de la Imagen y el contenido
  }
    .titulos {
        display: flex;
        flex-direction: column;//Css de los titulos.
  }
  
  h2, p {
    display: table-cell;
    vertical-align: middle;
    margin: 0;//Css de los h2 y p.
  }
  h2{
    padding-top: 10%;// Padding del h2.
  }
  .nombre-canal {
    font-weight: bold;//Nombre del canal, la fuente.
  }
  
  .descripcion {
    font-size: smaller;//Fuente de la descripcion
  }
  
  .message-list {
    height: 100%; //css de la lista de mensajes.
  }
  
  .mensaje {
    font-size: smaller; //Css de el tamaño del mensaje
  }
  .mensaje {
    margin-bottom: 5px;
  }
  ion-content {
    min-height: 100vh;//ccs de los contenedores.
  }
  @media (prefers-color-scheme: dark) {
  .ios ion-footer ion-toolbar{
    --background: #1C1C1C !important;//Color de la capsula de donde se envian los mensajes.
  }
  .ios ion-toolbar{
    --background: #1C1C1C !important;//Color de la capsula de donde se envian los mensajes.
  }
  div{
    color: white;// Color de los divs
  }
  ion-footer ion-toolbar ion-input{
    color:rgb(205, 205, 205) !important;
  }
}
ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Asegura que el footer esté por encima del contenido */
}
ion-content {
  padding-bottom: 56px; /* Ajusta este valor según la altura de tu footer */
}

ion-content {
  padding-bottom: 56px; /* Ajusta este valor según la altura de tu footer */
  overflow-y: auto; /* Asegura que haya un scroll vertical si es necesario */
}

.body{
  scrollbar-color: #fffdfd00 transparent;
}
.message-container {
  max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
  scrollbar-width: none; /* Oculta la scrollbar lateral en navegadores que soporten esta propiedad */
}

.message-container::-webkit-scrollbar {
  width: 0; /* Oculta la scrollbar lateral en navegadores basados en WebKit (por ejemplo, Chrome y Safari) */
}
.mensaje-container {
  margin-bottom: 5px; /* Ajusta este valor según el espacio deseado entre los mensajes */
  max-width: 80%; /* Puedes ajustar el porcentaje según tus preferencias */
  overflow-y: auto;
}
.message-container-father {
  max-height: 80vh; /* Establece la altura máxima del contenedor a un 80% del alto de la pantalla */
  overflow-y: auto; /* Permite el desplazamiento vertical si los mensajes superan la altura máxima */
  position: fixed;//Css del contenedor de los mensajes.
}
ion-card {
  margin: 5px 0; /* Ajusta este valor según el espacio deseado entre los mensajes */
}
.message-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  max-height: 60vh;
  max-width: 100%;
}
.user-User1 {
  color: rgb(97, 24, 165);
}

.user-User2 {
  color: rgb(14, 209, 193);
}

.user-User3 {
  color: red;
}
.user-Tekapps {
  color: orange; // Color para el usuario "Tekapps" al enviar mensajes
}